<!DOCTYPE html>
<!--[if lt IE 6]>
<html class="ie ie6" lang="ru" dir="ltr"> <![endif]-->
<!--[if IE 7]>
<html class="ie ie7" lang="ru" dir="ltr"> <![endif]-->
<!--[if IE 8]>
<html class="ie ie8" lang="ru" dir="ltr"> <![endif]-->
<!--[if IE 9]>
<html class="ie ie9" lang="ru" dir="ltr"> <![endif]-->
<!--[if IE 10]>
<html class="ie ie10" lang="ru" dir="ltr"> <![endif]-->
<!--[if (gte IE 11)|!(IE)]><!-->
<html lang="ru" dir="ltr" xmlns="http://www.w3.org/1999/html">
<!--<![endif]-->

<head itemscope itemtype="http://schema.org/WPHeader">
  <!-- DEVELOPER -->
  <!-- https://github.com/TheWitcher1991 -->

  <!-- SEO -->
  <meta charset="UTF-8" />

  <title itemprop="headline">
    VitroBerry - идеальная голубика для вашего сада
  </title>

  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
  <meta itemprop="description" name="description" content="" />
  <meta itemprop="keywords" name="keywords" content="" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta http-equiv="content-language" content="ru" />
  <meta name="robots" content="index, follow" />
  <link rel="canonical" href="https://vitroberry.ru/" />

  <meta name="author" content="" />
  <meta name="copyright" content="" />

  <meta property="og:title" content="VitroBerry - идеальная голубика для вашего сада" />
  <meta property="og:description" content="" />
  <meta property="og:url" content="https://vitroberry.ru/" />
  <meta property="og:image" content="public/og-card.png" />

  <meta property="twitter:title" content="VitroBerry - идеальная голубика для вашего сада!" />
  <meta property="twitter:description" content="" />
  <meta property="twitter:url" content="https://vitroberry.ru/" />
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:image" content="public/x-card.png" />

  <meta property="og:locale" content="ru_RU" />
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="VitroBerry - идеальная голубика для вашего сада" />

  <meta name="twitter:domain" content="vitroberry.ru" />
  <meta name="twitter:site" content="@vitroberry.ru" />
  <meta name="twitter:creator" content="@vitroberry.ru" />

  <meta name="hostname" content="vitroberry.ru" />
  <meta name="expected-hostname" content="vitroberry.ru" />

  <link rel="shortcut icon" href="../public/logo.png" type="image/x-icon" />
  <link rel="icon" href="../public/logo.png" type="image/x-icon" />

  <meta name="format-detection" content="telephone=no" />

  <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Organization",
        "name": "VitroBerry",
        "url": "https://vitroberry.ru",
        "logo": "https://vitroberry.ru/public/logo.png",
        "contactPoint": {
          "@type": "ContactPoint",
          "telephone": "+7 999 999 99 99",
          "contactType": "customer service",
          "areaServed": "RU"
        }
      }
    </script>

  <!-- LIBS -->

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap" rel="stylesheet" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.3/animate.min.css" />

  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/7.3.67/css/materialdesignicons.min.css"
    integrity="sha512-nRzny9w0V2Y1/APe+iEhKAwGAc+K8QYCw4vJek3zXhdn92HtKt226zHs9id8eUq+uYJKaH2gPyuLcaG/dE5c7A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
    integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- STYLES -->
  <link rel="stylesheet" href="../static/font/font.css" />
  <link rel="stylesheet" href="../static/styles/vars.css" />
  <link rel="stylesheet" href="../static/styles/normalize.css" />
  <link rel="stylesheet" href="../static/styles/wrapper.css" />
  <link rel="stylesheet" href="../static/styles/media.css" />
</head>

<body>
  <!-- CONTENT -->
  <div class="gs">
    <div class="content">
      <div class="wrapper">
        <section class="section-padding section-header">
          <nav class="nav">
            <div class="nav-logo wow fadeIn">
              <img src="../public/logo-header.svg" alt="logo" width="38" height="38" />
              VITROBERRY
            </div>
            <div class="glass-content menu wow fadeIn">
              <a href="#about">О нас</a>
              <span></span>
              <a href="#what">Как выращиваем</a>
              <span></span>
              <a href="#product">Готовые решения</a>
              <span></span>
              <a href="#clients">Клиентам</a>
            </div>
            <a class="glass-content glass-action wow fadeIn" itemprop="url"
              href="mailto:vdovydchenko2000@mail.ru">Контакты</a>
          </nav>
          <h2 class="header-title-text wow fadeIn">
            От лабораторной точности до солнечных полей — мы создаем идеальную
            голубику для вашего сада
          </h2>
        </section>

        <section class="section-padding" id="about">
          <div class="section-text-content">
            <h2 class="section-title wow fadeIn">Чем мы занимаемся?</h2>
            <p class="section-text wow fadeIn">
              Инновационный стартап – питомник голубики In vitro, содержащий
              более 15 лучших адаптированных сортов культуры для юга России
            </p>
          </div>
          <div class="card-tiny section-about-cards">
            <div class="section-about-text">
              <p class="section-about-text-title wow fadeIn">
                Мы объединяем науку и природу, чтобы выращивание голубики
                стало доступным и эффективным для каждого
              </p>
              <p class="section-about-text-caption wow fadeIn">
                *при поддержке Ставропольского ГАУ создаем инновационные
                решения в сельском хозяйстве
              </p>
            </div>
            <div class="section-about-card section-about-card-mission wow fadeIn">
              <img src="../public/star.svg" />
              <div class="section-about-card-title">Наша миссия</div>
              <div class="section-about-card-text">
                Сделать выращивание голубики простым и успешным для каждого,
                объединяя передовые научные разработки с заботой о природе и
                людях
              </div>
            </div>
            <div class="section-about-card section-about-card-image wow fadeIn">
              <img src="../public/lead.png" alt="lead" />
            </div>
          </div>
        </section>

        <section class="section-padding section-accent" id="what">
          <div class="section-text-content">
            <h2 class="section-title wow fadeIn">Как выращиваем?</h2>
            <p class="section-text wow fadeIn">
              Создаем идеальные саженцы голубики с нуля, чтобы вы получили
              здоровые и сильные растения
            </p>
          </div>
          <div class="section-what-cards">
            <div class="card-tiny section-what-card wow fadeIn">
              <div class="section-what-card-title">
                1. Микроклональное размножение
              </div>
              <div class="section-what-card-text">
                В специальной питательной среде из одной клетки выращиваем
                тысячи идентичных здоровых растений
              </div>
              <img src="../public/gag-1.png" />
            </div>
            <div class="card-tiny section-what-card wow fadeIn">
              <div class="section-what-card-title">
                2. Адаптация к реальным условиям
              </div>
              <div class="section-what-card-text">
                Постепенно готовим саженцы к жизни в естественной среде,
                укрепляя их иммунитет
              </div>
              <img src="../public/gag-3.png" />
            </div>
            <div class="card-tiny section-what-card wow fadeIn">
              <div class="section-what-card-title">3. Непрерывный урожай</div>
              <div class="section-what-card-text">
                В питомнике — сорта на любой сезон. Собирайте ягоды с июня по
                сентябрь.
              </div>
              <img src="../public/gag-4.png" />
            </div>
          </div>
        </section>

        <section class="section-padding" id="product">
          <div class="section-text-content">
            <h2 class="section-title wow fadeIn">Готовые решения</h2>
            <p class="section-text wow fadeIn">
              Мы собрали всё необходимое, чтобы вы могли начать выращивать
              голубику без лишних хлопот
            </p>
          </div>
          <img src="../public/group.png" alt="" class="group-img" />

          <div class="product-card wow fadeIn">
            <img class="g-1-img" src="../public/g-1.png" />
            <img class="g-2-img" src="../public/g-2.png" />
            <img class="text-img" src="../public/text.svg" />
            <img class="product-img" src="../public/lag.png" />
            <img class="lag-img" src="../public/logo-product.svg" />
            <div class="product-text">
              <div class="product-text-title">Идеально для начала</div>
              <div class="product-text-caption">- Горшок 15л</div>
              <div class="product-text-caption">- Стартовые удобрения</div>
              <div class="product-text-caption">
                - Оздоровленный саженец голубики
              </div>
              <div class="product-text-caption">
                - Специальный грунт (торф + гумус)
              </div>
              <div class="product-text-caption">
                - Пошаговая инструкция выращивания культуры
              </div>
            </div>
          </div>

          <p class="section-text wow fadeIn">
            *набор включает доставку по югу России и стартовую поддержку
          </p>
        </section>

        <section class="section-padding section-accent" id="clients">
          <div class="section-text-content">
            <h2 class="section-title wow fadeIn">
              Найди себя в мире голубики
            </h2>
            <p class="section-text wow fadeIn">
              Неважно, опытный вы фермер или только начинающий — у нас есть
              решение для каждого!
            </p>
          </div>
          <div class="section-card-clients">
            <img class="wow fadeIn" src="../public/c-1.png" />
            <img class="wow fadeIn" src="../public/c-2.png" />
            <img class="wow fadeIn" src="../public/c-3.png" />
          </div>
        </section>

        <section class="section-padding section-gradient">
          <div class="section-text-content">
            <h2 class="section-title wow fadeIn">Готовы к первому урожаю?</h2>
            <p class="section-text wow fadeIn">
              Подберем саженцы и расскажем всё о выращивании голубики в лучших
              условиях!
            </p>
          </div>
          <a class="section-gradient-link wow fadeIn" itemprop="url" href="mailto:vdovydchenko2000@mail.ru">Написать
            нам</a>
          <img class="footer-image wow fadeIn" src="../public/footer.png" />
        </section>

        <section class="section-padding section-footer" id="footer">
          <div class="footer-left">
            <div class="footer-logo wow fadeIn">
              <img src="../public/logo-footer.svg" alt="logo" width="59" height="48" />
              VITROBERRY
            </div>

            <div class="footer-menu wow fadeIn">
              <a href="#about">О нас</a>
              <span></span>
              <a href="#what">Как выращиваем</a>
              <span></span>
              <a href="#product">Готовые решения</a>
              <span></span>
              <a href="#clients">Клиентам</a>
            </div>

            <div class="footer-text wow fadeIn">
              Проект создан при поддержке Федерального государственного
              бюджетного учреждения Фонд содействия развитию малых форм
              предприятий в научно-технической сфере в рамках программы
              "Студенческий стартап" федерального проекта "Платформа
              университетского технологического предпринимательства”
              <img src="../public/fasie.svg" width="127" height="66" />
            </div>
          </div>
          <div class="footer-right">
            <div class="footer-dl wow fadeIn">
              <div class="footer-dl-title">Адрес</div>
              <div class="footer-dl-text">Россия, г. Ставрополь</div>
            </div>
            <div class="footer-dl wow fadeIn">
              <div class="footer-dl-title">Почта</div>
              <div class="footer-dl-text">vdovydchenko2000@mail.ru</div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"
    integrity="sha512-Eak/29OTpb36LLo2r47IpVzPBLXnAMPAVypbSZiZ4Qkf8p/7S/XRG5xp7OKWPPYfJT6metI+IORkR5G8F900+g=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script>
    new WOW().init();
  </script>

  <script src="../static/libs/gsap.min.js"></script>
  <script src="../static/libs/ScrollTrigger.min.js"></script>
  <script src="../static/libs/ScrollSmoother.min.js"></script>

  <script src="../static/scripts/index.js"></script>
</body>

</html>